.photoDiv {
  background-image: url("../../assets/images/heroSection/hero-background.png");
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characterContainer {
  /* margin: 200px; */
  margin-left: 40px;
  margin-right: 40px;
  z-index: 2;
}

.chocoCharacter {
  margin-top: 250px;
  width: 100%;
  height: 100%;
}

.chocoBarBottom {
  width: 100%;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.twixLogo {
  position: absolute;
  /* bottom: 60px; */
  left: 50%;
  transform: translateX(-50%);
}

.twixLogo:hover {
  transform: scale(110%) translateX(-40%);
  transform-origin: right;
  transition: transform;
  transition-duration: 1s;
}
