.section03-background {
  background-image: url("../../assets/images/Section03/section03-background.png");
  background-size: cover;
  background-position: center;
  /* position: relative; */
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.text-shadow {
  text-shadow: 0.05em 0.05em 0.08em black;
}

.line-height {
  line-height: 1.5;
}
