.navbar-background {
  background-image: url("../../assets/images/navbar/menuBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
