.navbar-background {
  background-image: url("../../assets/images/navbar/menuBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px; /* Set the height to match the height of your image */
}
