.navbar-background {
  background-image: url("../../assets/images/navbar/menuBackground2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;

  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
